<!DOCTYPE html>
<html>

<head>
	<title>My First Website</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="shared.css">
</head>

<body>
    <content-screen></content-screen>
    
    <hud-screen>
        <hud-icons>

        </hud-icons>
        <hud-sidebar class="hidden"></hud-sidebar>
        <hud-nav class="hidden"></hud-nav>
        <hud-info class="hidden"></hud-info>
    </hud-screen>

    <script src="/run.js" type="module"></script>
</body>

</html>